@font-face {
  font-family: 'Crash-a-Like';
  src: url('crash-a-like-webfont.woff2') format('woff2'),
       url('crash-a-like-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

nav {
  font-family:'Crash-a-Like';
  font-size:x-large;
  line-height:70%
}